body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  min-height: calc(100vh - 16px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  max-width: 650px;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  border: 3px solid #333;
  padding: 30px 110px 20px;
}

.info {
  font-weight: 100;
  line-height: 20px;
}

.code-container {
  display: flex;
  flex-wrap: wrap;
  margin: 40px -120px;
  justify-content: center;
}

.code-container .code {
  width: 90px;
  margin: 10px;
  padding: 15px 0;
  font-size: 70px;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #dfdfdf;
}

.code-container .code.valid {
  border-color: #37a3fe;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.25);
}

.footer-info {
  color: #555;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #eaeaea;
}
