body {
  background-color: #f5f5f5;
}
#notesContainer {
  color: #555;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
#notesContainer,
#notesContainer ul {
  padding: 0;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
}

#notesContainer #addIcon {
  top: 50%;
  left: 50%;
  opacity: 1;
  width: 42px;
  font-size: 45px;
  cursor: pointer;
  line-height: 42px;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  visibility: visible;
  border: 1px dashed #aaa;
  transform: translate(-50%, -50%);
  transition: visibility, opacity 0.3s ease-in-out;
}

.header {
  margin-bottom: 10px;
}

.noteTitle {
  padding: 5px;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 55px);
}
#newNoteTitle,
#newNoteText {
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  border: 0.5px solid #ccc;
  transition: visibility, opacity 0.3s ease-in-out;
}
#newNoteTitle {
  width: calc(100% - 40px);
}

#newNoteText {
  height: calc(100% - 75px);
}

.btn {
  opacity: 0;
  border: none;
  color: #fff;
  outline: none;
  padding: 5px 0;
  cursor: pointer;
  visibility: hidden;
  border-radius: 5px;
  width: calc(50% - 3px);
  transition: visibility, opacity 0.3s ease-in-out;
}

.saveBtn {
  background-color: #33cc99;
}

.saveBtn:hover {
  background-color: #28b385;
}

.saveBtn:active {
  background-color: #27a57b;
}

.saveBtn:disabled {
  cursor: not-allowed;
  background-color: #71deba;
}

.saveBtn:disabled:hover {
  background-color: #71deba;
}

.cancelBtn {
  background-color: #f37777;
}

.cancelBtn:hover {
  background-color: #da6969;
}

.cancelBtn:active {
  background-color: #c25858;
}

.noteText {
  resize: none;
  padding: 5px;
  outline: none;
  line-height: 20px;
  width: calc(100% - 12px);
  height: calc(100% - 48px);
  transition: visibility, opacity 0.3s ease-in-out;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #c7c7c7;
}

.noteContainer {
  margin: 10px;
  padding: 10px;
  min-height: 200px;
  position: relative;
  border-radius: 5px;
  transition: flex-basis 0.3s ease-in-out;
  flex-basis: calc(100% / 1 - 41px);
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.25);
}

#addNoteContainer {
  box-shadow: none;
  background-color: #fff;
  border: 1px dashed #aaa;
}

.readonly {
  pointer-events: none;
}

.iconContainer {
  cursor: default;
  float: right;
}

.iconContainer .icon {
  cursor: pointer;
  margin-left: 5px;
}
.noBorder {
  border: none;
}

.colorSelector {
  opacity: 0;
  right: 10px;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  visibility: hidden;
  border-radius: 50%;
  color: transparent;
  transition: visibility, opacity 0.3s ease-in-out;
  background: linear-gradient(45deg, #9bc99e, #ffc1b1);
}

.color_C4F0E8 {
  background-color: #c4f0e8;
}
.color_FFC1B1 {
  background-color: #ffc1b1;
}
.color_F2EBD7 {
  background-color: #f2ebd7;
}
.color_AFE9B2 {
  background-color: #afe9b2;
}
.color_EDBD8C {
  background-color: #edbd8c;
}

.defaultCursor {
  cursor: default;
}

.editMode .noteText {
  height: calc(100% - 75px);
}

.editMode .btn {
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 401px) and (max-width: 750px) {
  #notesContainer .noteContainer {
    flex-basis: calc(100% / 2 - 41px);
  }
}

@media only screen and (min-width: 751px) and (max-width: 1100px) {
  #notesContainer .noteContainer {
    flex-basis: calc(100% / 3 - 41px);
  }
}

@media only screen and (min-width: 1101px) {
  #notesContainer .noteContainer {
    flex-basis: calc(100% / 4 - 41px);
  }
}
